.central-card-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.central-card-container .card {
    width: 30%;
    height: 50%;
    background-color: var(--bright-yellow);
    border: 3px solid #000;
    border-radius: 2px;
    padding: 2em;
    box-shadow: 4px 4px 1px rgba(0, 0, 0, 1);
}

.card .authentication-form .form-body {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: space-between;
}

.twin-operation {
    margin-bottom: 0.5em;
}

.card .authentication-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: space-between;
    height: 100%;
}

.authentication-form .input-block label {
    display: block;
}

.authentication-form input[type='text'],
.authentication-form input[type='password'] {
    padding: 4px;
    border: 1px solid #000;
    border-radius: 2px;
    width: 100%;
}

.authentication-form .checkbox-block {
    display: flex;
    align-items: center;
    gap: 8px;
}

.authentication-form .form-footer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-end;
}

.authentication-form .form-footer button {
    width: 100%;
    padding: 4px 8px;
    border: 2px solid #000;
    background-color: var(--hard-grey);
}