.central-card-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.central-card-container .card {
    width: 30%;
    height: 50%;
    background-color: #fffff1;
    border: 3px solid #000;
    border-radius: 2px;
    padding: 2em;
    box-sizing: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.card .authentication-form .form-body {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: space-between;
}

.twin-operation {
    margin-bottom: 0.5em;
}

.card .authentication-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: space-between;
    height: 100%;
}

.authentication-form .input-block label {
    display: block;
}

.authentication-form .input-block .field-error {
    margin-top: 2px;
}

.authentication-form .input-block .field-error p {
    color: rgb(226, 0, 0);
    word-break: break-all;
}

.authentication-form input[type='text'],
.authentication-form input[type='password'] {
    padding: 4px;
    border: 1px solid #000;
    border-radius: 2px;
    width: 100%;
}

.authentication-form .checkbox-block {
    display: flex;
    align-items: center;
    gap: 8px;
}

.authentication-form .form-footer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-end;
}

.authentication-form .form-footer button {
    width: 100%;
    padding: 4px 8px;
    cursor: pointer;
    border: 2px solid #000;
    ;
    background-color: var(--hard-grey);
}